.booklist {
  background: white;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
  margin: 30px 0 30px 20px;
  padding: 20px 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.header {
  padding: 0 20px;
}

.books {
  padding : 20px 0 20px 20px;
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
}

.book {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 100vw;
  
  img {
    border-radius: 10px;
    height: 200px;

  }

  .bookdetails {

    h3 {
      font-weight: 400;
      padding: 5px;
    }
    
    p {
      padding: 5px;
    }
  }
}