.booklist {
  background: white;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
  margin: 30px 0 30px 20px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  min-height: 30vh;
}

.books {
  padding : 20px 0;
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  width: 90vw;
  overflow-x: auto;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  
  img {
    border-radius: 10px;
  }
  
  h3 {
    font-weight: 400;
    padding: 5px;
  }
  
  p {
    padding: 5px;
  }
}